.card {
  min-height: 30em;
  max-width: 15rem;
  overflow: hidden;
  font-family: $font-1, sans-serif;
  position: relative;
  box-shadow: 0 0 3px 1px rgb(85, 104, 115);
  border-radius: 10px;
  transition: 0.3s;

  &:hover img{
    opacity: 0.7;
  }

  img {
    object-fit: cover; 
    height: 25em; 
    width: 100%;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .infos {
    background-color: $fake-black;
    border-radius: 10px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    bottom: 47px;
    // bottom: 0;
    left: 0;
    width: 100%;
  }

  &:hover .infos {
    opacity: 1;
    visibility: visible;
  }

  h2 {
    color: $fake-white;
    text-align: center;
    margin: 2px 5px;
  }

  h3 {
    color: $color-1;
    margin: 10px 0;
  }

  p {
    color: $color-1;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  ul {
    display: flex;
    width: 100%;
  }

  li {
    color: $color-2;
    font-size: 1.4rem;
    
  }
}
